/*work sans font from google font*/
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*work sans font from google font*/

/*Shared style start here*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
}
/*shared style end here*/

/*Header Section style start here*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
    max-width: 1400px;
    height: 1100px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}
.nav-title{
    color: #131313;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/*Header Section style end here*/
/*banner content style style start here*/
.banner-content{
    max-width: 700px;
    text-align: center;
    margin: 100px 130px 0 180px;
}
.banner-title{
    color:#131313;
    font-size: 48px;
    font-weight: 700;

}
.banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.banner-img{
    width: 100%;
    margin: 50px auto 40px auto;
    max-width: 1000px;
}
/*banner content style style end here*/
/*header section end here*/

/*main section style start here*/
main{
    max-width: 1400px;
    margin: 0 auto;
}
/*team section start*/
.team-container{
    display: flex;
    width: 1000px;
    margin: 80px auto 150px auto;
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    width: 50%;
}
.team-text-container{
    width: 50%;
    padding: 0 50px;
}
/*team section end*/

/*Facts section start*/
.facts{
    max-width: 1000px;
    margin: 0 auto;
}
.facts h3{
    color: #131313;
    font-size: 40px;
    font-weight: 700;
}
.facts-description{
    width: 500px;
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    margin: 18px 0 80px 0;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    text-align: center;
}
.facts-card-container .card-no{
    color: #424242;
    font-size: 40px;
    font-weight: 600;
}
.facts-card-container .card-title{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}
/*Facts section end*/
/*main section style end here*/





/*Responsive media style start here*/
/*For Mobile Devices*/
/*Responsive media style end here*/